@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;500;600;700;800;900&display=swap');

@theme {
  --font-sans: 'Outfit', 'Inter', sans-serif;

  @keyframes loading-line {
    0% {
      left: -100%;
    }

    100% {
      left: 100%;
    }
  }

  --animate-loading-line: loading-line 1.5s infinite linear;
}

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Outfit', 'Inter', sans-serif;
}